<div class="urls-item">
  <div class="urls-inner">
    <div class="urls-head position-relative d-flex align-items-center" style="background-color:<%= target.background %>">
      <a href="" class="urls-icon">
        <img src="<%= target.icon %>" alt="<%= target.name %>" />
      </a>
      <h3 class="urls-title flex-grow-1 flex-shrink-1 zindex-fixed" style="color:<%= target.color%>">
        <%= target.name %>
      </h3>
      <div class="urls-view"></div>
    </div>
    <ul>
      <% articles.each do |article| %>
        <li><a href="<%= article.url %>" target="_blank"><%= article.title %></a></li>
      <% end %>
    </ul>
  </div>
</div>